body{
    text-align: center;
    background-color: #FAF9F6;
    font-size:22px;
}
.container {
    max-width: 40%;
    margin: auto;
    font-size: 24px;
    text-align: center;
}
.button {
    background-color: #B0B0B0; 
    color: white;
    font-size:20px;
    padding:20px;
    text-align: center;
    border-radius: 4px;
}
.button:hover {
  background-color: #989898;
  color: white;
}
img:hover {
  transform: scaleX(-1);
}